<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="generator" content="pandoc" />
<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />




<title>Publications</title>

<script src="site_libs/jquery-1.11.3/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="site_libs/bootstrap-3.3.5/css/united.min.css" rel="stylesheet" />
<script src="site_libs/bootstrap-3.3.5/js/bootstrap.min.js"></script>
<script src="site_libs/bootstrap-3.3.5/shim/html5shiv.min.js"></script>
<script src="site_libs/bootstrap-3.3.5/shim/respond.min.js"></script>
<script src="site_libs/navigation-1.1/tabsets.js"></script>
<link href="site_libs/highlightjs-9.12.0/default.css" rel="stylesheet" />
<script src="site_libs/highlightjs-9.12.0/highlight.js"></script>
<link href="site_libs/font-awesome-5.1.0/css/all.css" rel="stylesheet" />
<link href="site_libs/font-awesome-5.1.0/css/v4-shims.css" rel="stylesheet" />

<style type="text/css">code{white-space: pre;}</style>
<style type="text/css">
  pre:not([class]) {
    background-color: white;
  }
</style>
<script type="text/javascript">
if (window.hljs) {
  hljs.configure({languages: []});
  hljs.initHighlightingOnLoad();
  if (document.readyState && document.readyState === "complete") {
    window.setTimeout(function() { hljs.initHighlighting(); }, 0);
  }
}
</script>



<style type="text/css">
h1 {
  font-size: 34px;
}
h1.title {
  font-size: 38px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 12px;
}
.table th:not([align]) {
  text-align: left;
}
</style>




<style type = "text/css">
.main-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}
code {
  color: inherit;
  background-color: rgba(0, 0, 0, 0.04);
}
img {
  max-width:100%;
}
.tabbed-pane {
  padding-top: 12px;
}
.html-widget {
  margin-bottom: 20px;
}
button.code-folding-btn:focus {
  outline: none;
}
summary {
  display: list-item;
}
</style>


<style type="text/css">
/* padding for bootstrap navbar */
body {
  padding-top: 51px;
  padding-bottom: 40px;
}
/* offset scroll position for anchor links (for fixed navbar)  */
.section h1 {
  padding-top: 56px;
  margin-top: -56px;
}
.section h2 {
  padding-top: 56px;
  margin-top: -56px;
}
.section h3 {
  padding-top: 56px;
  margin-top: -56px;
}
.section h4 {
  padding-top: 56px;
  margin-top: -56px;
}
.section h5 {
  padding-top: 56px;
  margin-top: -56px;
}
.section h6 {
  padding-top: 56px;
  margin-top: -56px;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}
.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
  border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-radius: 6px 0 6px 6px;
}
</style>

<script>
// manage active state of menu based on current page
$(document).ready(function () {
  // active menu anchor
  href = window.location.pathname
  href = href.substr(href.lastIndexOf('/') + 1)
  if (href === "")
    href = "index.html";
  var menuAnchor = $('a[href="' + href + '"]');

  // mark it active
  menuAnchor.parent().addClass('active');

  // if it's got a parent navbar menu mark it active as well
  menuAnchor.closest('li.dropdown').addClass('active');
});
</script>

<!-- tabsets -->

<style type="text/css">
.tabset-dropdown > .nav-tabs {
  display: inline-table;
  max-height: 500px;
  min-height: 44px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.tabset-dropdown > .nav-tabs > li.active:before {
  content: "";
  font-family: 'Glyphicons Halflings';
  display: inline-block;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.tabset-dropdown > .nav-tabs.nav-tabs-open > li.active:before {
  content: "&#xe258;";
  border: none;
}

.tabset-dropdown > .nav-tabs.nav-tabs-open:before {
  content: "";
  font-family: 'Glyphicons Halflings';
  display: inline-block;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.tabset-dropdown > .nav-tabs > li.active {
  display: block;
}

.tabset-dropdown > .nav-tabs > li > a,
.tabset-dropdown > .nav-tabs > li > a:focus,
.tabset-dropdown > .nav-tabs > li > a:hover {
  border: none;
  display: inline-block;
  border-radius: 4px;
}

.tabset-dropdown > .nav-tabs.nav-tabs-open > li {
  display: block;
  float: none;
}

.tabset-dropdown > .nav-tabs > li {
  display: none;
}
</style>

<!-- code folding -->




</head>

<body>


<div class="container-fluid main-container">




<div class="navbar navbar-default  navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
  <a href="projects.html">Publications</a>
</li>
<li>
  <a href="CV/main_gibson.pdf">
    <span class="ai ai-cv ai-lg"></span>
     
  </a>
</li>
<li>
  <a href="https://marianthi.github.io/makLAB.github.io/index.html">makLab</a>
</li>
<li>
  <a href="mailto:&lt;e.a.gibson@columbia.edu&gt;">
    <span class="fa fa-envelope-o fa-lg"></span>
     
  </a>
</li>
<li>
  <a href="http://github.com/lizzyagibson/">
    <span class="fa fa-github fa-lg"></span>
     
  </a>
</li>
<li>
  <a href="https://scholar.google.com/citations?user=zWkIfpIAAAAJ">
    <span class="ai ai-google-scholar ai-lg"></span>
     
  </a>
</li>
<li>
  <a href="https://www.linkedin.com/in/elizabeth-gibson-2689b272/">
    <span class="fa fa-linkedin-square fa-lg"></span>
     
  </a>
</li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container -->
</div><!--/.navbar -->

<div class="fluid-row" id="header">



<h1 class="title toc-ignore">Publications</h1>

</div>


<p><link rel="stylesheet" href="styles.css" type="text/css"> <link rel="stylesheet" href="academicons-1.8.6/css/academicons.min.css"/></p>
<p><br></p>
<div id="peer-reviewed-articles" class="section level2">
<h2>Peer-reviewed Articles</h2>
<p>Chen Y, Wu F, Liu X, Parvez F, LoIacono NJ, <strong>Gibson EA</strong>, Kioumourtzoglou MA, Levy D, Shahriar H, Uddin MN, Islam T, Lomax A, Saxenad R, Sanchez T, Santiago D, Ellis T, Ahsan H, Wasserman, GA, Graziano JH. Early life and adolescent arsenic exposure from drinking water and blood pressure in adolescence. Environmental Research. 2019 Aug 20:108681. <a href="papers/chen_er.pdf" target="_blank">PDF</a></p>
<p><strong>Gibson EA</strong>, Nunez Y, Abuawad A, Zota AR, Renzetti S, Devick KL, Gennings C, Goldsmith J, Coull BA, Kioumourtzoglou MA. An overview of methods to address distinct research questions on environmental mixtures: an application to persistent organic pollutants and leukocyte telomere length. Environmental Health. 2019 Dec 1; 18(1): 76. <a href="papers/gibson_eh.pdf" target="_blank">PDF</a></p>
<p><strong>Gibson EA</strong>, Goldsmith J, Kioumourtzoglou M-A. Complex Mixtures, Complex Analyses: an Emphasis on Interpretable Results. Current Environmental Health Reports. 2019 May 8:1-9. <a href="papers/gibson_cehr.pdf" target="_blank">PDF</a></p>
<p><strong>Gibson EA</strong>, Stapleton HM, Calero L, Holmes D, Burke K, Martinez R, Cortes B, Nematollahi A, Evans D, Anderson KA, Herbstman JB. Differential exposure to organophosphate flame retardants in mother-child pairs. Chemosphere. 2018 Dec 4; 219: 567-73. <a href="papers/gibson_chemo.pdf" target="_blank">PDF</a></p>
<p><strong>Gibson EA</strong>, Siegel EL, Eniola F, Herbstman JB, Factor-Litvak P. Effects of polybrominated diphenyl ethers on child cognitive, behavioral, and motor development. International Journal of Environmental Research and Public Health. 2018 Aug 2; 15(8): 1636. <a href="papers/gibson_ijerph.pdf" target="_blank">PDF</a></p>
<p><strong>Gibson EA</strong>, Stapleton HM, Calero L, Holmes D, Burke K, Martinez R, Cortes B, Nematollahi A, Evans D, Herbstman JB. Flame retardant exposure assessment: findings from a behavioral intervention study. Journal of Exposure Science &amp; Environmental Epidemiology. 2018 Jun 28: 1. <a href="papers/gibson_jesee.pdf" target="_blank">PDF</a></p>
<p>Wasserman GA, Liu X, Parvez F, Chen Y, Factor-Litvak P, LoIacono NJ, Levy D, Shahriar H, Uddin MN, Islam T, Lomax A, Saxena R, <strong>Gibson EA</strong>, Kioumourtzoglou M-A, Balac O, Sanchez T, Kline JK, Santiago D, Ellis T, van Geen A, Graziano JH. A cross-sectional study of water arsenic exposure and intellectual function in adolescence in Araihazar, Bangladesh. Environment International. 2018 Sep 30; 118: 304-13. <a href="papers/wasserman.pdf" target="_blank">PDF</a></p>
<p>Lane K, Ito K, Johnson S, <strong>Gibson EA</strong>, Tang A, Matte T. Burden and risk factors for cold-related illness and death in New York City. International Journal of Environmental Research and Public Health. 2018 Mar 30; 15(4): 632. <a href="papers/lane.pdf" target="_blank">PDF</a></p>
<p><br></p>
</div>
<div id="presentations" class="section level2">
<h2>Presentations</h2>
<p><strong>Gibson EA</strong>, Nunez Y, Abuawad A, Zota AR, Renzetti S, Devick KL, Gennings C, Goldsmith J, Coull BA, and Kioumourtzoglou M-A. An Overview of Methods to Address Distinct Research Questions on Environmental Mixtures: An Application to Persistent Organic Pollutants and Leukocyte Telomere Length. Oral Presentation for Seminar Series, Environmental Health Sciences Department (EHS), Mailman School of Public Health (MSPH), Columbia University. Oct 2019. New York, NY, USA. <a href="papers/EHS_Seminar_Oct_7.pdf" target="_blank">PDF</a></p>
<p><strong>Gibson EA</strong>, Spratlen MJ, Colgan R, Wright J, Goldsmith J, Perera FP, Factor-Litvak P, Herbstman JB, Kioumourtzoglou M-A. Patterns of phenol, paraben &amp; phthalate exposure in NYC women. Poster presentation for the International Society for Environmental Epidemiology (ISEE). August 2019. Utrecht, Netherlands. <a href="papers/niehs_pcp_poster.pdf" target="_blank">PDF</a></p>
<p><strong>Gibson EA</strong>, Nunez Y, Kioumourtzoglou M-A. Overview of Commonly-Used Methods to Analyze Exposure to Mixtures in Environmental Epidemiology. Poster presentation for the Powering Research Through Innovative Methods for Mixtures in Epidemiology (PRIME) Program Meeting, National Institute of Environmental Health Sciences (NIEHS). April 2019. Research Triangle Park, NC, USA. <a href="papers/NIEHS_PRIME_Overview.pdf" target="_blank">PDF</a> | <a href="https://github.com/lizzyagibson/NIEHS-PRIME-Overview-Poster">Code</a></p>
<p><strong>Gibson EA</strong>, Spratlen MJ, Colgan R, Wright J, Goldsmith J, Perera FP, Factor-Litvak P, Herbstman JB, Kioumourtzoglou M-A. Patterns of phenol, paraben &amp; phthalate exposure in NYC women. Poster presentation for the Powering Research Through Innovative Methods for Mixtures in Epidemiology (PRIME) Program Meeting, National Institute of Environmental Health Sciences (NIEHS). April 2019. Research Triangle Park, NC, USA. <a href="papers/niehs_pcp_poster.pdf" target="_blank">PDF</a></p>
<p><strong>Gibson EA</strong>, Kioumourtzoglou M-A, Herbstman JB. Environmental mixtures of endocrine disrupting chemicals and risk to cognitive development. Oral presentation for the American Pediatric Association (APA) Environmental Health Scholars Retreat. October 2018. Providence, Rhode Island, USA.</p>
<p><strong>Gibson EA</strong>, Kioumourtzoglou M-A, Wasserman GA, Liu X, Parvez F, Chen Y, Factor-Litvak P, LoIacono NJ, Shahriar H, Nasir Uddin M, Islam T, Saxena R, Balac O, Sanchez T, Kline JK, van Geen A, Graziano JH. Metal Exposure as a Mixture and Intellectual Function in Adolescence in Bangladesh. Poster presentation for the International Society for Environmental Epidemiology (ISEE). August 2018. Ottawa, Ontario, Canada.</p>
<p><strong>Gibson EA</strong>, Stapleton HM, Calero L, Holmes D, Burke K, Martinez R, Cortes B, Nematollahi A, Evans D, Anderson KA, Herbstman JB. Flame Retardant Exposure Assessment: Findings from a Behavioral Intervention. Oral presentation for the Brominated Flame Retardant Workshop (BFR). May 2018. Niagara-on-the-lake, Ontario, Canada.</p>
<p><strong>Gibson EA</strong>, Stapleton HM, Calero L, Holmes D, Burke K, Martinez R, Cortes B, Nematollahi A, Evans D, Anderson KA, Herbstman JB. Intervention efficacy: Differentiating signal from noise. Oral presentation for the International Society for Children’s Health and the Environment (ISCHE). August 2016. Whidbey Island, Washington, USA.</p>
<p><strong>Gibson EA</strong>, Stapleton HM, Calero L, Holmes D, Burke K, Martinez R, Cortes B, Nematollahi A, Evans D, Anderson KA, Herbstman JB. Reducing exposure to flame retardants. Does it work? Oral Presentation for Seminar Series, Environmental Health Sciences Department (EHS), Mailman School of Public Health (MSPH), Columbia University. May 2017. New York, NY, USA.</p>
<p><strong>Gibson EA</strong>, Zhou Z, Factor-Litvak P, Perera F, Yu J, Tang D. Molecular effects of in utero cadmium exposure. Poster presentation for the International Society for Environmental Epidemiology (ISEE). August 2016. Rome, Italy.</p>
<p>Lane K, Ito K, Johnson S, <strong>Gibson EA</strong>, Tang A, Matte T. Investigation of Cold-Related Deaths in New York City, 2009-2015. Poster presentation for the Summit on Environmental Hazards and Health Effects, CDC National Center for Environmental Health. January 2016. Atlanta, GA, USA.</p>
<p><strong>Gibson EA</strong>, Zhou Z, Factor-Litvak P, Perera F, Yu J, Tang D. Molecular effects of in utero cadmium exposure. Oral presentation for Master’s Student Day, Epidemiology Department, Mailman School of Public Health (MSPH), Columbia University. October 2015. New York, NY, USA.</p>
</div>




</div>

<script>

// add bootstrap table styles to pandoc tables
function bootstrapStylePandocTables() {
  $('tr.header').parent('thead').parent('table').addClass('table table-condensed');
}
$(document).ready(function () {
  bootstrapStylePandocTables();
});


</script>

<!-- tabsets -->

<script>
$(document).ready(function () {
  window.buildTabsets("TOC");
});

$(document).ready(function () {
  $('.tabset-dropdown > .nav-tabs > li').click(function () {
    $(this).parent().toggleClass('nav-tabs-open')
  });
});
</script>

<!-- code folding -->


<!-- dynamically load mathjax for compatibility with self-contained -->
<script>
  (function () {
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src  = "https://mathjax.rstudio.com/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML";
    document.getElementsByTagName("head")[0].appendChild(script);
  })();
</script>

</body>
</html>
